.eventEncounterForm{
  position: relative;
  padding-bottom: 48px;
  box-sizing: border-box;
}
.eventEncounterForm__controls{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 48px;
  line-height: 48px;
}