.eventCreator .nzModal-content{
  display: flex;
  flex-direction: column;
}
.eventCreator__typePage{
  flex-grow: 1;
}
.eventCreator__dataPage{
  flex-grow: 1;
  display: flex;
  form{
    flex-grow: 1;
  }
}
.eventCreator__typePage__type {
  border: 1px solid #777;
  border-radius: 4px;
  margin: 5px auto;
  box-sizing: border-box;
  padding: 5px 10px;
  cursor: pointer;
  &:hover{
    background-color: #f5f5ff;
  }
}