@import '../../shared/config.scss';

.SideMenu {
  display: none;
  position: fixed;
  left: 0;
  top: $header-height;
  bottom: 0;
  width: 200px;
  background-color: #efefef;

  &.is-open{
    display: block;
  }
}